<form action="/new_items" method="post">
  <div>
    <label for="name">New Item:</label>
    <input type="text" id="name" new_item = "name" />
  </div>
  <div class="button">
    <button type="submit">Submit</button>
  </div>
</form>


